<head>
  <title>Your Application</title>
  <meta charset="utf-8">
  <link rel="alternate" media="only screen and (max-width: 640px)" href="" >
  <meta name="viewport" content="user-scalable=no, width=1240" id="viewport"> <!-- for tablets -->
  <meta name="description" content="">
  <meta name="keywords" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta name="twitter:site" content="" />
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:domain" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <!--[if lt IE 10]>
  	<link rel="stylesheet" type="text/css" href="ie-fix.css" />
  <![endif]-->
</head>
<body>
  <h1>Welcome your Application</h1>
</body>
